<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <!--<section name="ProyectoReporteSaari.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />-->
            <section name="ProyectoReporteSaari.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ReimpresionComprobante.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <!--<ProyectoReporteSaari.Properties.Settings>
            <setting name="ConnectionStringCFD" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BD_SaariCFD;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=sa;Password=Rt123456/</value>
            </setting>
            <setting name="ConnectionStringODBC" serializeAs="String">
                <value>Dsn=ArrDB2;uid=SYSDBA;password=masterkey</value>
            </setting>
        </ProyectoReporteSaari.Properties.Settings>-->
        <!--<ReimpresionComprobante.Properties.Settings>
            <setting name="ConnectionStringCFD" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BD_SaariCFD;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=sa;Password=Rt123456/</value>
            </setting>
        </ReimpresionComprobante.Properties.Settings>-->
      <ReimpresionComprobante.Properties.Settings>
        <setting name="ConnectionStringCFD" serializeAs="String">
          <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BD_SaariCFD;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=sa;Password=Rt123456/</value>
          <!--<value>Data Source=DEV6\SQLEXP2014;Initial Catalog=BD_SaariCFD;Persist Security Info=True;User ID=sa;Password=Rt123456/</value>-->
        </setting>
        <setting name="ConnectionStringODBC" serializeAs="String">
          <value>Dsn=ArrDB2;uid=SYSDBA;password=masterkey</value>
        </setting>
        <setting name="AsuntoCobro" serializeAs="String">
          <value>Factura pagada</value>
        </setting>
        <setting name="CuerpoCobro" serializeAs="String">
          <value>El pago de la factura electrónica fue registrado correctamente. Adjunto se encuentra el CFDi con su respectiva representación impresa. Gracias</value>
        </setting>
        <setting name="habilitarSMTPSSL" serializeAs="String">
          <value>valorSMTPSSL</value>
        </setting>
        <setting name="FormatoComprobantePago" serializeAs="String">
          <value>C:\SaariDB\Formatos\FormatoComprobantePago.frx</value>
        </setting>
        <setting name="cbbqrcodeImage" serializeAs="String">
          <value>\Images\cbbqrcodeImage.png</value>
        </setting>
      </ReimpresionComprobante.Properties.Settings>
    </userSettings>
</configuration>